In [86]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [87]:
data = pd.read_csv('country_vaccination_stats.csv')

In [88]:
data

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

### 4) Code Implementation Task: Implement code to fill the missing data (impute) in daily_vaccinations column per country with the minimum daily vaccination number of relevant countries.  
Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero).

In [89]:
def fill_na_values(country):
    min_value = data[data['country']==country]['daily_vaccinations'].min()
    return min_value

In [96]:
data['daily_vaccinations'] = data.apply(lambda row: fill_na_values(row['country']) if row['daily_vaccinations'] != row['daily_vaccinations'] else row['daily_vaccinations'],axis=1)

In [109]:
data[data['daily_vaccinations'].isna()]

    country        date  daily_vaccinations         vaccines
750  Kuwait  12/28/2020                 NaN  Pfizer/BioNTech

In [110]:
data['daily_vaccinations'].fillna(0,inplace=True)

### 5) Code Implementation Task: Implement code to list the top-3 countries with highest median daily vaccination numbers by considering missing values imputed version of dataset.

In [99]:
data.groupby('country')['daily_vaccinations'].median().nlargest(3)

country
United States    378253.0
China            276786.0
India            173922.0
Name: daily_vaccinations, dtype: float64

### 6) What is the number of total vaccinations done on 1/6/2021 (MM/DD/YYYY) by considering missing values imputed version of dataset?

In [105]:
data[data['date'] == '1/6/2021']['daily_vaccinations'].sum()

1485255.0

### 7) Code Implementation Task: If this list would be a database table, please provide SQL query to fill in the missing daily vaccination numbers with discrete median of country as similar to question a.  
Note: This time SQL equivalent is requested, and imputation value is median of each country, not minimum. Please remember filling countries with zero if they do not have any valid daily_vaccination records like Kuwait.

In [ ]:
SELECT (country, 
       daily_vaccinations, 
       PERCENTILE_CONT(0.5) 
         WITHIN GROUP (ORDER BY daily_vaccinations) OVER ( 
           PARTITION BY country) AS median_value)
FROM data;


UPDATE
    data
SET 
  daily_vaccinations = CASE WHEN daily_vaccinations IS NULL THEN median_value ELSE daily_vaccinations END;