In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
columns = ['Device_Type','Access_Link']

data = [
    ['AXO145','<url>https://xcd32112.smart_meter.com</url>'],
    ['TRU151','<url>http://tXh67.dia_meter.com</url>'],
    ['ZOD231','<url>http://yT5495.smart_meter.com</url>'],
    ['YRT326','<url>https://ret323_TRu.crown.com</url>'],
    ['LWR245','<url>https://luwr3243.celcius.com</url>'],
]

In [4]:
df = pd.DataFrame(data, columns = columns)
df.head()

  Device_Type                                  Access_Link
0      AXO145  <url>https://xcd32112.smart_meter.com</url>
1      TRU151        <url>http://tXh67.dia_meter.com</url>
2      ZOD231     <url>http://yT5495.smart_meter.com</url>
3      YRT326      <url>https://ret323_TRu.crown.com</url>
4      LWR245      <url>https://luwr3243.celcius.com</url>

In [5]:
def process(link):
    start_idx = 0
    end_idx = 0
    for i in range(0,len(link)):
        if(link[i] == ':'):
            start_idx = i+3
        elif(link[i] == '<'):
            end_idx = i
            
    return link[start_idx:end_idx]

In [7]:
df['Access_Link'] = df.apply(lambda x: process(x['Access_Link']),axis=1)

In [8]:
df

  Device_Type               Access_Link
0      AXO145  xcd32112.smart_meter.com
1      TRU151       tXh67.dia_meter.com
2      ZOD231    yT5495.smart_meter.com
3      YRT326      ret323_TRu.crown.com
4      LWR245      luwr3243.celcius.com